body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto-info {
    margin-top: 20px;
}

.btn-eliminar {
    display: inline-block;
    padding: 8px 16px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-eliminar:hover {
    background-color: #c82333;
}

.acciones {
    text-align: center;
    margin-top: 20px;
}

.btn-vaciar,
.btn-continuar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007b80;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.btn-vaciar:hover,
.btn-continuar:hover {
    background-color: #005d5f;
}
