* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.header {
    background-color: #333;
    color:  #333;
    text-align: center;
    
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { 
    width: 135px;
    height: 170px;
   
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin:  30px;
    padding:  15px;
    
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.imagen_carro{
    width: 90px;
    height: 90px;
    border-radius: 20%;
    margin: 5%;

}
.carrito {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #333;
}

.submenu:hover .carrito {
    display: block;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}



.header-img img {
    max-width: 100%;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.footer ul li {
    margin-right: 1rem;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}